
<% if(message) { %>
  <%= message %>
    <% } %>

<form action="/login" method="post">
  <input name="email" placeholder="email">
  <input name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>